{% extends "base.html" %}

{% block title %}Payment Success{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center my-4">Payment Successful!</h2>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Thank You for Your Purchase!</h5>
                        <p class="card-text">Your payment has been processed successfully. We will send a confirmation email to you shortly, and your items will be shipped in the next few business days.</p>
                        <p class="card-text">Your Tracking Number: </p><p class="card-text" style="font-weight: bold;">489fa99c-20b7-4397-9456-2b571f0e7361</p>
                        <form action="{{ url_for('clear_cart') }}" method="post">
                            <input type="submit" value="Clear Cart" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}